[Unit]
Description=Nsamizi Institute Web App
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/path/to/your/app
Environment="PATH=/path/to/your/venv/bin"
ExecStart=/path/to/your/venv/bin/gunicorn --config gunicorn.conf.py app-1:app
Restart=always

[Install]
WantedBy=multi-user.target
